.cover {
    background: url(../img/background.png) top left no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 100px #000;
    height: 600px;
    padding: 50px 100px;
}

.point-tab {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.scores {
    color: white;
}

.row {
    color: white;
}

.tip {
    color: #808080;
}
